[Unit]
Description=Service de notification Wazuh par mail (version C)
After=network.target

[Service]
MemoryMax=50M
CPUQuota=10%
Type=simple
User=root
WorkingDirectory=/opt/wazuh-mail
ExecStart=/opt/wazuh-mail/send_wazuh_mail
Restart=on-failure
RestartSec=5s
StandardOutput=append:/var/log/wazuh-email.log
StandardError=append:/var/log/wazuh-email.log

[Install]
WantedBy=multi-user.target
